/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@charset "UTF-8";
@import url("ka.font.css");

/*------------------------------------------------------------------
[02. Layout]
------------------------------------------------------------------*/

/* Mobile Nav */
.modal-bg {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 900;
    content: '';
}

.search-bg {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 900;
    content: '';
}

/* Container */
.ka-container {
    width: 100%;
    height: 100%;
    padding-top: 80px;

}

.ka-container .ka-content-wrapper {
    min-height: 100%;
    position: relative;
}

.ka-container .ka-content-wrapper .content {
    z-index: 10;
    padding-bottom: 220px;
    min-height: 100%;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

/* Scroll bar */
.scroll {
    position: relative;
    overflow: auto;
}

.scroll-wrapper > .scroll-element,
.scroll-wrapper > .scroll-element div {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 10;
}

.scroll-wrapper > .scroll-element div {
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}

.scroll-wrapper > .scroll-element.scroll-x {
    bottom: 2px;
    height: 7px;
    left: 0;
    min-width: 100%;
    width: 100%;
}

.scroll-wrapper > .scroll-element.scroll-y {
    height: 100%;
    min-height: 100%;
    right: 2px;
    top: 0;
    width: 4px;
}

.scroll-wrapper > .scroll-element .scroll-element_outer {
    opacity: 0.3;
}

.scroll-wrapper > .scroll-element .scroll-element_size {
    background-color: rgba(0, 0, 0, 0.07);
    opacity: 0;
}

.scroll-wrapper > .scroll-element .scroll-bar {
    background-color: #697686;
}

.scroll-wrapper > .scroll-element.scroll-x .scroll-bar {
    bottom: 0;
    height: 4px;
    min-width: 24px;
    top: auto;
}

.scroll-wrapper > .scroll-element.scroll-x .scroll-element_outer {
    bottom: 0;
    top: auto;
    left: 2px;
    -webkit-transition: height 0.2s;
    -o-transition: height 0.2s;
    transition: height 0.2s;
}

.scroll-wrapper > .scroll-element.scroll-x .scroll-element_size {
    left: -4px;
}

.scroll-wrapper > .scroll-element.scroll-y .scroll-bar {
    left: auto;
    min-height: 24px;
    right: 0;
    width: 4px;
}

.scroll-wrapper > .scroll-element.scroll-y .scroll-element_outer {
    left: auto;
    right: 0;
    top: 2px;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.scroll-wrapper > .scroll-element.scroll-y .scroll-element_size {
    top: -4px;
}

.scroll-wrapper > .scroll-content {
    -webkit-box-sizing: inherit !important;
    box-sizing: inherit !important;
}

.scroll-wrapper.auto-hide > .scroll-element .scroll-element_track {
    display: none;
}

.scroll-wrapper > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size {
    left: -11px;
}

.scroll-wrapper > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size {
    top: -11px;
}

.scroll-wrapper > .scroll-element:hover .scroll-element_outer,
.scroll-wrapper > .scroll-element.scroll-draggable .scroll-element_outer {
    overflow: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    opacity: 0.7;
}

.scroll-wrapper > .scroll-element:hover .scroll-element_outer .scroll-element_size,
.scroll-wrapper > .scroll-element.scroll-draggable .scroll-element_outer .scroll-element_size {
    opacity: 1;
}

.scroll-wrapper > .scroll-element:hover .scroll-element_outer .scroll-bar,
.scroll-wrapper > .scroll-element.scroll-draggable .scroll-element_outer .scroll-bar {
    height: 100%;
    width: 100%;
}

.scroll-wrapper > .scroll-element.scroll-x:hover .scroll-element_outer,
.scroll-wrapper > .scroll-element.scroll-x.scroll-draggable .scroll-element_outer {
    height: 10px;
    min-height: 7px;
}

.scroll-wrapper > .scroll-element.scroll-y:hover .scroll-element_outer,
.scroll-wrapper > .scroll-element.scroll-y.scroll-draggable .scroll-element_outer {
    min-width: 7px;
    width: 7px;
}


/*------------------------------------------------------------------
[03. Form Element]
------------------------------------------------------------------*/
label,
input,
button,
select,
textarea {
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
}

select[multiple],
select[size] {
    height: auto !important;
}

input:focus,
select:focus,
textarea:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

input:-webkit-autofill, input.error:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #fff inset !important;
}

input:-webkit-autofill:focus, input.error:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px #fff inset !important;
}

.modal.show .modal-dialog {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.modal.fade {
    padding: 0 !important;
}

.modal.fade > div > div {
    /* width: 450px;*/
    width: 100%;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 30px;
}

.modal.fade .modal-content > div {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.modal.fade .modal-content > div > img {
    max-width: 100%;
    margin-bottom: 5px;
}

.modal.fade .modal-content > div > h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.modal.fade .modal-content > div > .modal-cnt {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.modal.fade .modal-content > div > .modal-cnt > span {
    display: inline-block;
    width: 100%;
    font-size: 14px;
    line-height: 1.5em;
    color: #666666;
    text-align: center;
}

.modal.fade .modal-content > div > .modal-btn {
    margin-top: 20px;
    height: 40px;
    line-height: 40px;
}

.modal.fade .modal-content > div > .modal-btn > a {
    display: block;
    padding: 0 40px;
    color: #Fff;
    border-radius: 5px;
    background-color: #000000;
}

@media (max-width: 768px) {
    .modal.show .modal-dialog{
        margin: auto;
        padding: 0 20px;
    }
}

/*파일선택시 모달창*/
#modal-document-evidence {
    display: none;
    height: 100%;
}

/*3월30일수정*/
.on {
    display: block !important;
}

.block {
    display: block;
}

.yhidden {
    overflow-y: hidden !important;
    height: 100% !important;
    min-height: 100%;
    touch-action: none !important;
    -ms-touch-action: none !important;
}

/*마스킹처리 관련 모달팝업*/
#modal-document-evidence > div > div {
    position: relative;
    padding: 24px 30px 30px;
    background-color: #fff;
    width: 450px;
    box-sizing: border-box;
    border-radius: 5px;
}

.modal-document-evidence > div > div > .modal-evidence-close {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    z-index: 1;
}

.modal-document-evidence .modal-content h5{
    font-family: "Noto Sans KR";
    color: #252525;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.66px;
    margin-bottom: 24px;
}

.modal-document-evidence .modal-content .top-title{
    position: relative;
}

.modal-document-evidence .modal-content .close{
    width: 24px;
    height: 24px;
    background: url(../img/masking/img/icon/icon_close_black.png)no-repeat center;
    background-size: cover;
    opacity: 1;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

#modal-document-evidence .masking-cnt{
    display: block;
}

#modal-document-evidence .masking-cnt p{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #000;
    margin-bottom: 20px;
}

#modal-document-evidence .masking-cnt p font{
    color: #FF4C00;
}

.modal-document-evidence .masking-tapbtn ul {
    display: block;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 51px;
    border-bottom: 1px solid #efefef;
    padding: 0 5px;
    font-size: 0;
}

#modal-document-evidence .masking-tapbtn ul > li {
    position: relative;
    z-index: 100;
    display: inline-block;
    background-color: #efefef;
    width: 50%;
    height: 50px;
    padding-left: 0;
    border: 1px solid #efefef;
    border-bottom: 0;
    vertical-align: top;
}

#modal-document-evidence .masking-tapbtn ul > li:last-child {
    margin-left: -1px;
}

#modal-document-evidence .masking-tapbtn ul > li > a {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 12px;
    color: #cccccc;
    font-weight: 600;
    word-break: keep-all;
    text-align: center;
    line-height: normal;
}

#modal-document-evidence .masking-tapbtn ul > li.active {
    height: 51px;
    background-color: #ffffff;
    border-bottom: none;
}

#modal-document-evidence .masking-tapbtn ul > li.active > a {
    color: #ff5d16;
}

#modal-document-evidence .masking-desc {
    margin-top: 10px;
    position: relative;
}

#modal-document-evidence .masking-desc > div {
    display: none;
}

#modal-document-evidence .masking-desc > div.active {
    display: block;
}

.modal-document-evidence .masking-desc > div > .masking-desc-01{
    padding: 0 30px;
}

.modal-document-evidence .masking-desc > div > .masking-desc-01 > div > p {
    text-align: center;
    line-height: 1.4em;
    font-weight: 600;
    margin-top: 8px;
}

#modal-document-evidence .masking-desc .masking-desc-01 .img-area{
    max-width: 289px;
}

#modal-document-evidence .masking-desc .masking-desc-01 .img-area a{
    display: block;
}

#modal-document-evidence .masking-desc .masking-desc-01 .img-area img{
    width: 100%;
}

#modal-document-evidence .masking-desc .masking-desc-01 .img-area:hover .scale{
    z-index: 0;
    opacity: 1;
    transition: all 0.5s;
}

#modal-document-evidence .masking-desc > div > .masking-desc-01 > div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#modal-document-evidence .masking-desc .masking-desc-01 .driver-licence-img{
    display: none;
}

#modal-document-evidence .masking-desc .masking-desc-01 li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    text-align: center;
    position: relative;
}

#modal-document-evidence .masking-desc .masking-desc-01 li:first-child{
    margin-bottom: 48.13px;
}

#modal-document-evidence .masking-desc .masking-desc-01 li label{
    margin-bottom: 6px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #000000;
    cursor: pointer;
}

#modal-document-evidence .masking-desc .masking-desc-01 li input{
    width: 15.34px;
    height: 15.34px;
    border-radius: 100%;
    appearance: none;
    border: 1px solid #aeaeb2;
    position: relative;
    cursor: pointer;
}

#modal-document-evidence .masking-desc .masking-desc-01 li input:checked {
    background: #0A7AFF;
    border: none;
    position: relative;
}

#modal-document-evidence .masking-desc .masking-desc-01 li input:checked::after{
    content:'✔';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -49%);
    font-size: 10px;
    text-align: center;
    color: #fff;
  }

#modal-document-evidence .document-evidence-noti li{
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    position: relative;
    padding-left: 13px;
}

.modal-document-evidence .document-evidence-noti{
    padding-left: 30px;
}

#modal-document-evidence .document-evidence-noti li:first-child{
    margin-top: 13px;
    margin-bottom: 5px;
}

#modal-document-evidence .document-evidence-noti li::after{
    content: '';
    position: absolute;
    left: 0;
    top: 8px;
    width: 3px;
    height: 3px;
    border-radius: 100%;
    background: #000;
}

.modal-document-evidence .document-evidence-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.modal-document-evidence .document-evidence-btn > a{
    width: 150px;
    background-color: #000;
    color: #fff;
    height: 40px;
    text-align: center;
    line-height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#modal-document-evidence .document-evidence-btn > a img{
    width: 15.5px;
    margin-right: 5px;
}

#modal-document-evidence .document-evidence-btn span{
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    color: #505050;
    display: block;
    margin-top: 8px;
}

#modal-document-evidence .masking-desc > div > .masking-desc-02{
    text-align: center;
    max-width: 289px;
    position: relative;
    margin: auto

}

#modal-document-evidence .masking-desc > div > .masking-desc-02 img{
    width: 100%;
}

#modal-document-evidence .masking-desc > div > .masking-desc-02:hover .scale{
    opacity: 1;
    z-index: 0;
    transition: all 0.5s;
}

#modal-document-evidence .masking-desc .scale{
    position: absolute;
    bottom: 10px;
    right: 7px;
    width: 37px!important;
    opacity: 0;
    z-index: -1;
    transition: all 0.5s;
}

#modal-document-evidence .masking-desc .scale img{
    width: 100%;
}

.modal-document-evidence .masking .masking-noti{
    border-radius: 6px;
    background: #FCF2EE;
    padding: 15px 24px;
    position: relative;
    margin-bottom: 15px;
}

.modal-document-evidence .masking p{
    font-family: "Noto Sans KR";
    padding-left: 20px;
    color: #4E4E4E;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.42px;
    width: 100%;
}

.modal-document-evidence .masking p:first-child{
    margin-bottom: 3px;
}

.modal-document-evidence .masking p::after{
    content: '!';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 16px;
    height: 16px;
    line-height: 16px;
    border-radius: 100%;
    background: #F76E33;
    text-align: center;
    color: #fff;
}

.modal-document-evidence .masking font{
    color: #FF4C00;
}

.modal-document-evidence .masking-tool{
    width: 100%;
    padding: 15px 0;
}

.modal-document-evidence .masking-tool li{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.modal-document-evidence .masking-tool li > div{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.modal-document-evidence .masking-tool div a{
    font-family: "Noto Sans KR";
    color: #868686;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.42px;
    position: relative;
}

.modal-document-evidence .masking-tool .icon{
    display: inline-block;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    vertical-align: middle;
    margin-left: 5px;
}

.modal-document-evidence .masking-tool .sample-btn .icon{
    background-image: url(../img/masking/img/icon/icon_see.png);
}

.modal-document-evidence .masking-tool .sample-btn.on{
    color: #FF5912;
}

.modal-document-evidence .masking-tool .sample-btn.on i{
    background-image: url(../img/masking/img/icon/icon_see_on.png) 
}

.modal-document-evidence .masking-tool .sample-btn.on{
    color: #FF5912;
}

.modal-document-evidence .masking-tool .sample-btn.on i{
    background-image: url(../img/masking/img/icon/icon_see_on.png) 
}

.modal-document-evidence .masking-tool .file-select{
    margin-left: 30px;
}

.modal-document-evidence .masking-tool .file-select .icon{
    background-image: url(../img/masking/img/icon/icon_upload.png);
}

.modal-document-evidence .masking-tool .file-select:hover{
    color: #FF5912;
}

.modal-document-evidence .masking-tool .file-select:hover .icon{
    color: #FF5912;
    background-image: url(../img/masking/img/icon/icon_upload_on.png);
}

.modal-document-evidence .masking-tool a.reset{
    padding: 0 15px;
    width: 54px;
    height: 32px;
    line-height: 32px;
    border-radius: 4px;
    background-image: url(../img/masking/img/icon/icon_reset.png);
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: center;
}

.modal-document-evidence .masking-tool a.reset:hover{
    background-color: #F3F3F3;
    /* background-image: url(../img/icons/icon_reset_on.png); */
}

.modal-document-evidence .masking-tool .editor_btn {
    padding: 4px 15px;
    border-radius: 4px;
    margin-left: 5px;
}

.modal-document-evidence .masking-tool .editor_btn img{
    width: 24px;
}

.modal-document-evidence .masking-tool .editor_btn:hover{
    background: #F3F3F3;
}

.modal-document-evidence .masking-tool .editor_btn.on{
    background: #F76E33;
}

.modal-document-evidence .masking-tool .editor_btn.on img{
    -webkit-filter: brightness(0) invert(1); 
    filter: brightness(0) invert(1);
}

.modal-document-evidence .tooltip{
    z-index: 3;
    font-family: "Noto Sans KR";
    top: -60px;
    left: 60px;
    width: 152px;
    position: absolute;
    background-color: #7a7a7a;
    color: #fff;
    font-size: 12px;
    padding: 8px 10px;
    border-radius: 6px;
    line-height: 1.4;
    opacity: 1;
    animation: hideElement 3s linear forwards;
}

.modal-document-evidence .tooltip::after{
    content: "";
    width: 0px;
    height: 0px;
    display: block;
    position: absolute;
    left: 10%;
    bottom: -14px;
    border-bottom: 7px solid #7a7a7a;
    border-right: 7px solid rgba(0, 0, 0, 0);
    border-left: 7px solid rgba(0, 0, 0, 0);
    border-top: 7px solid rgba(0, 0, 0, 0);
    transform: rotate(-180deg);
} 

@keyframes hideElement {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

.modal-document-evidence .img-wrap{
    position: relative;
    border-radius: 10px;
    border: 1px solid #EAEAEA;
    background: #F9F9F9;
    overflow: hidden;
    width: 100%;
}

.modal-document-evidence .masking-tool .reset img{
    width: 24px;
}

.modal-document-evidence .upload-img{
    width: 100%;
    height: 470px;
    position: relative;
}

.modal-document-evidence .upload-img > div{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-document-evidence .masking-wrap{
    display: inline-block;
    text-align: center;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    /* z-index: 2; */

}

.modal-document-evidence .masking-wrap img{
    max-width: 100%;
    max-height: 100%;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

.modal-document-evidence .upload-img > img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
}

.modal-document-evidence .img-wrap ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    height: 100%;
    overflow-y: auto;
    padding: 10px 0;
}

.modal-document-evidence .img-wrap li{
    font-family: "Noto Sans KR";
    color: #868686;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.48px;
    padding: 0 40px 0 55px;
    margin-bottom: 15px;
    text-indent: -15px;
    font-size: 16px;
}

.modal-document-evidence .img-wrap li i{
    display: inline-block;
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    vertical-align: middle;
}

.modal-document-evidence .img-wrap li:nth-child(2) i{
    background-image: url(../img/masking/img/icon/icon_editor.png);
}

.modal-document-evidence .img-wrap li:nth-child(3) i{
    background-image: url(../img/masking/img/icon/icon_reset.png);
}

.modal-document-evidence .img-wrap li:nth-child(4){
    margin-bottom: 0;
}

.modal-document-evidence .img-wrap li:last-child{
    margin-bottom: 0;
    padding: 0;
    text-indent: 0;
    position: relative;
}

.modal-document-evidence .img-wrap li:last-child a{
    display: block;
    background: #eaeaea;
    width: 160px;
    height: 52px;
    line-height: 50px;
    text-align: center;
    border-radius: 4px;
    color: #4e4e4e;
    margin: auto;
}

.modal-document-evidence .img-wrap li:last-child a:hover{
    background: #D7D7D7;
}

.modal-document-evidence .img-wrap li img{
    width: 24px;
}

.modal-document-evidence .upload-img .sample-img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    display: none;
}

.modal-document-evidence .upload-img.on::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f9f9f9;
    z-index: 1;
}

.modal-document-evidence .upload-img.on .sample-img{
    display: block;
    z-index: 2;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

.modal-document-evidence .upload-img .icon{
    width: 24px;
}

.modal-document-evidence .upload-img span{
    display: block;
    text-align: center;
}

.modal-document-evidence .upload-img i{
    display: block;
    font-style: normal;
    color: #252525;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.48px;
}

.modal-document-evidence .upload-img a {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.modal-document-evidence .highlighter {
  background-color: #F76E33;
  position: absolute;
}

.modal-document-evidence .document-evidence-btn{
    font-family: "Noto Sans KR";
    width: 100%;
}

.modal-document-evidence .document-evidence-btn .submit-btn{
    width: 100%;
    border-radius: 4px;
    background-color: #EAEAEA;
    height: 56px;
    line-height: 55px;
    pointer-events: none;
}

.modal-document-evidence .document-evidence-btn .submit-btn.on{
    background: #101B4D;
    pointer-events: auto;
}

#modal-document-evidence > div > div{
    width: 100%;
}

.modal-document-evidence .img-wrap.biz .upload-img{
    height: 850px;
}

/* 마스킹 팝업 PC */
.self-auth-popup > .modal_wrap{
    max-width: 1200px;
    width: 100%;
}

.self-auth-popup #modal-document-evidence .modal-dialog{
    align-items: start;
    padding: 0;
}

.self-auth-popup.modal .modal-content{
    height: calc(100% - 120px);
    height: -webkit-calc(100% - 120px);
    height: -moz-calc(100% - 120px);
    height: -o-calc(100% - 120px);
    padding: 0;
}

#modal-document-evidence.mask-pc > div > div.modal-content{
    max-width: 1200px;
    width: 100%;
    /* height: calc(100% - 120px);
    height: -webkit-calc(100% - 120px);
    height: -moz-calc(100% - 120px);
    height: -o-calc(100% - 120px); */
}

.self-auth-popup #modal-document-evidence.mask-pc > div > div.modal-content{
    height: 100%;
    padding: 0;
}

.modal-document-evidence.mask-pc .modal-dialog{
    max-width: 1200px;
}

.mask-pc.modal.fade .modal-content > div.masking{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    height: 100%;
}

.mask-pc .masking > div{
    display: flex;
    align-items: start;
    height: 100%;
}

.mask-pc .masking .mo{
    display: none!important;
}

.mask-pc .masking .pc.img-wrap{
    height: 740px;
    width: 62%;
}

.mask-pc .img-wrap{
    position: static;
    border-radius: 0;
    border: none;
    background: none;
    /* overflow: inherit; */
}

.mask-pc .upload-img.on::after{
    display: none;
}

.mask-pc .upload-img.on .sample-img{
    position: static;
    transform: translate(0);
    display: block!important;
}

.modal-document-evidence.mask-pc .upload-img .sample-img{
    display: block!important;
    border-radius: 4px;
}

.mask-pc .masking ul{
    position: static;
    transform: translate(0)!important;
    display: block!important;
    padding-top: 20px;
}

.mask-pc .document-evidence-btn{
    margin-top: 0;
}

.mask-pc .upload-img{
    width: 100%;
    height: 100%!important;
    padding: 4px 0px 4px 4px;
    overflow: auto;
}

.mask-pc .upload-img .masking-wrap{
    top: 0;
    transform: translate(-50%, 0);
    border-radius: 4px;
    background: #F9F9F9;
    align-items: start;
    height: auto;
    overflow: auto;
}


.mask-pc .upload-img::-webkit-scrollbar {
    width: 6px;  /* 스크롤바의 너비 */
}

.mask-pc .upload-img::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: #ccc; /* 스크롤바의 색상 */
    
    border-radius: 10px;
}

.mask-pc .upload-img::-webkit-scrollbar-track {
    background: #fff;  /*스크롤바 뒷 배경 색상*/
}

.mask-pc .mask-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: calc(100% - 62%);
    width: -webkit-calc(100% - 62%);
    width: -moz-calc(100% - 62%);
    width: -o-calc(100% - 62%);
    padding: 20px 30px 30px;
}

.mask-pc .masking .text-area{
    overflow: hidden;
    overflow-y: auto;
}

.mask-pc .masking .text-area::-webkit-scrollbar {
    width: 8px;  /* 스크롤바의 너비 */
}

.mask-pc .masking .text-area::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: #7f7f7f; /* 스크롤바의 색상 */
    
    border-radius: 10px;
}

.mask-pc .masking .text-area::-webkit-scrollbar-track {
    background: #fff;  /*스크롤바 뒷 배경 색상*/
}

.mask-pc .masking .masking-noti{
    padding: 11px 12px 11px 12px!important;
    margin-top: 8px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.mask-pc .modal-content h5{
    text-align: left;
    margin-bottom: 20px;
    position: relative;
}

.mask-pc .mask-info .sample-img{
    width: 100%;
    position: static;
    transform: translate(0);
}

.mask-pc .mask-info li{
    font-family: "Noto Sans KR";
    padding-left: 0;
    color: #868686;
    font-size: 14px;
    line-height: normal;
    letter-spacing: -0.42px;
    margin-bottom: 6px;
    text-indent: 0;
    width: 100%;
    padding: 0;
}

.mask-pc .mask-info li i {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    vertical-align: middle;
}

.mask-pc .mask-info li:nth-child(2) i {
    background-image: url(../img/masking/img/icon/icon_editor.png);
}

.mask-pc .mask-info li:nth-child(3) i {
    background-image: url(../img/masking/img/icon/icon_reset.png);
}

.mask-pc .masking-tool{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 0;
}

.mask-pc .masking-tool a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #252525;
    text-align: center;
    font-family: "Noto Sans KR";
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.48px;
    border-radius: 4px;
    border: 1px solid #EAEAEA;
    background: #FFF;
}

.mask-pc .masking-tool a:hover{
    border: 1px solid #4E4E4E;
}

.mask-pc .masking-tool i{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
    margin-right: 6px;
}

.mask-pc .masking-tool .file-select{
    width: 31.8%;
    padding: 0 0;
    height: 46px;
    background-image: none;
    margin-left: 0;   
    position: relative; 
}

.mask-pc .masking-tool .file-select:hover{
    color: #252525;
}

.mask-pc .masking-tool a.reset{
    width: 31.8%;
    padding: 0 ;
    height: 46px;
    background-image: none;
}

.mask-pc .masking-tool a.reset:hover{
    background-color: transparent;
}

.mask-pc .masking-tool .editor_btn{
    width: 31.8%;
    height: 46px;
    margin-left: 0px;
    margin-right: 0;
}

.mask-pc .masking-tool a.editor_btn:hover{
    background-color: transparent;
}

.mask-pc .document-evidence-btn .submit-btn{
    width: 100%;
    font-size: 16px;
    height: 52px;
    line-height: 52px;
}

.mask-pc .masking-tool .file-select .icon{
    background-image: url(../img/masking/img/icon/icon_file_bk.png);
}

.mask-pc .masking-tool .file-select:hover .icon{
    background-image: url(../img/masking/img/icon/icon_file_bk.png);
}

.mask-pc .masking-tool .reset i{
    background-image: url(../img/masking/img/icon/icon_reset_bk.png);
}

.mask-pc .masking-tool .editor_btn i{
    background-image: url(../img/masking/img/icon/icon_editor_bk.png);
}

.mask-pc .masking-tool .editor_btn.on{
    background-color: transparent;
    border-radius: 4px;
    border: 2px solid #F76E33;
    color: #F76E33;
    display: flex!important;
}

.mask-pc .masking-tool .editor_btn.on i{
    background-image: url(../img/masking/img/icon/icon_editor_orange.png);
}

.mask-pc .upload-img > div:last-child{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}

.mask-pc .upload-img span{
    font-family: "Noto Sans KR";
    color: #868686;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.48px;
}

.mask-pc .upload-img .file-select{
    width: 160px;
    height: auto;
    border-radius: 4px;
    background: #EAEAEA;
    height: 52px;
    padding: 5px 16px;
    color: #4E4E4E;
    text-align: center;
    font-family: "Noto Sans KR";
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -0.48px;
    margin-top: 20px;
}






@media (max-width: 450px) {
    #modal-document-evidence h5 {
        font-size: 16px !important;
        margin-bottom: 15px;
    }

    #modal-document-evidence > div > div > p {
        font-size: 12px !important;
    }

    #modal-document-evidence .masking-desc > div > .masking-desc-01 {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    #modal-document-evidence .document-evidence-noti li{
        padding-left: 10px;
    }

    #modal-document-evidence .document-evidence-noti li::after{
        left: 2px;
    }

    #modal-document-evidence .masking-desc > div > .masking-desc-01 > div:first-child {
        margin-right: 0;
        margin-bottom: 12px;
    }

    #modal-document-evidence .masking-desc .masking-desc-01 .img-area{
        max-width: 210px;
    }

    #modal-document-evidence .masking-desc .masking-desc-01 li:first-child{
        margin-bottom: 28px;
    }

    .modal-document-evidence .upload-img{
        height: 290px!important;
    }

    .modal-document-evidence .img-wrap li{
        margin-bottom: 5px;
        font-size: 12px!important;
        padding-left: 25px!important;
        text-indent: -15px!important;
        padding-right: 10px!important;
    }

    .modal-document-evidence .img-wrap li:nth-child(4){
        margin-bottom: 15px;
    }

    .modal-document-evidence .img-wrap li:last-child a{
        width: 100px;
        height: 30px;
        line-height: 30px;
    }

    .modal-document-evidence .img-wrap li:last-child{
        text-indent: 0!important;
        padding: 0!important;
    }

    .modal-document-evidence .img-wrap.biz .upload-img {
        height: 100%!important;
    }
}

.tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #bdbdbd !important;
    text-align: center;
    background-color: transparent !important;
    border-radius: 4px;
}

.tooltip.top .tooltip-arrow {
    display: none !important;
}

.modal.fade .modal-content > div > .modal-btn > a.cancel {
    display: none;
    margin-left: 5px;
    background-color: #ffffff !important;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #666666;
    color: #000000 !important;
}

.tooltip_wrap {
    display: none;
    position: absolute;
    top: 45px;
    left: 0px;
    z-index: 100;
    background-color: #7a7a7a;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 11px 20px !important;
    border-radius: 6px;
}

.tooltip_wrap::after {
    content: "";
    width: 0px;
    height: 0px;
    display: block;
    position: absolute;
    left: 10%;
    top: -14px;
    border-bottom: 7px solid #7a7a7a;
    border-right: 7px solid rgba(0, 0, 0, 0);
    border-left: 7px solid rgba(0, 0, 0, 0);
    border-top: 7px solid rgba(0, 0, 0, 0);
}


@media (max-height: 680px) {
    .modal-document-evidence .modal-content h5{
        margin-bottom: 15px;
    }

    .modal-document-evidence .masking .masking-noti{
        margin-bottom: 10px;
        padding: 10px 20px  10px 15px;
    }

    .modal-document-evidence .img-wrap{
        height: auto;
    }

    .modal-document-evidence .upload-img{
        height: 450px;
    }

    .modal-document-evidence .img-wrap li:nth-child(4){
        margin-bottom: 10px;
    }

    .modal-document-evidence .masking-tool{
        padding: 10px 0;
    }

    .modal-document-evidence .masking .document-evidence-btn{
        margin-top: 0;
    }
}

@media all and (max-width: 1200px) {
    .mask-pc .modal-dialog{
        width: 98%;
    }

    .mask-pc .pc.img-wrap{
        width: 60%;
    }

    .mask-pc .mask-info{
        padding: 15px 15px 30px;
        width: calc(100% - 55%);
        width: -webkit-calc(100% - 55%);
        width: -moz-calc(100% - 55%);
        width: -o-calc(100% - 55%);
    }

    .mask-pc .masking-tool .file-select{
        padding: 0;
    }

    .mask-pc .document-evidence-btn .submit-btn{
        padding: 0;
    }

    .mask-pc .masking-tool a.reset{
        padding: 0;
    }
}

@media all and (max-width: 840px) {
    .modal-document-evidence .masking-tool.pc{
        display: none;
    }
}

@media all and (max-width: 820px) {
    .modal.show .modal-dialog {
        margin: auto;
        padding: 0 20px;
    }

    .self-auth-popup.modal .modal-content,
    #modal-document-evidence{
        height: auto;
    }


    .modal-document-evidence .upload-img > div{
        top: 20px;
        transform: translate(-50%, 0);
        display: block;
    }

    .modal-document-evidence .img-wrap {
        height: 300px;
        overflow-y: auto;
    }

    .modal-document-evidence .img-wrap::-webkit-scrollbar {
        width: 8px;
    }
    
    .modal-document-evidence .img-wrap::-webkit-scrollbar-thumb {
        height: 30%;
        background: #7f7f7f;
        
        border-radius: 10px;
    }
    
    .modal-document-evidence .img-wrap::-webkit-scrollbar-track {
        background: #fff;
    }

    .modal-document-evidence .pc{
        display: none;
    }
}

@media all and (max-width: 720px) {
    .modal-document-evidence .img-wrap li{
        padding-left: 35px;
        text-indent: -15px;
        padding-right: 25px;
        font-size: 14px;
    }

    .modal-document-evidence .img-wrap.biz .upload-img {
        height: 100%;
    }

    .modal-document-evidence .img-wrap.biz .masking-wrap{
        top: 50%;
        transform: translate(-50%, -50%);
        display: flex;
    }
}


@media all and (max-width: 450px) {
    #modal-bid-noti > div > div {
        width: 380px !important;
    }

    .modal-document-evidence .document-evidence-noti {
        padding: 0 20px;
        margin-bottom: 20px;
    }

    .modal-document-evidence > div > div > .modal-evidence-close{
        top: 29px;
        width: 13px;
        right: 15px;
    }

    #modal-document-evidence > div > div{
        padding-top: 20px;
        padding-bottom: 20px;
        padding: 20px 15px;
    }

    .modal-document-evidence .masking .masking-noti{
        padding: 10px 10px 10px 15px;
    }

    .modal-document-evidence .masking p br{
        display: none;
    }

    .modal-document-evidence .document-evidence-btn .submit-btn{
        height: 45px;
        line-height: 44px;
    }

    .modal-document-evidence .masking-tool .file-select{
        margin-left: 15px;
    }

    .modal-document-evidence .masking-tool .editor_btn{
        padding-left: 10px;
        padding-right: 10px;
    }

    .modal-document-evidence .masking-tool a.reset{
        padding-left: 10px;
        padding-right: 10px;   
    }

    .modal-document-evidence .document-evidence-btn{
        margin-top: 0;
    }

    .modal-document-evidence .upload-img.on .sample-img{
        top: 50%;
        transform: translate(-50%, -50%);
    }

}


@media all and (max-width: 380px) {
    .modal-document-evidence .masking-tool div a{
        font-size: 12px;
    }

    .modal-document-evidence .masking-tool .file-select{
        margin-left: 10px;
    }

    .modal-document-evidence .masking-tool a.reset{
        background-size: 20px;
        width: 44px;
    }

    .modal-document-evidence .masking-tool .editor_btn {
        padding-left: 10px;
        padding-right: 10px;
    }

    .modal-document-evidence .masking-tool .editor_btn img{
        width: 20px;
    }

}


