body{overflow:hidden}
/*Header*/
.main header{border-bottom:none}
.main h1 img{filter:brightness(0) invert(1)}
.main nav li a{color:#fff}
.main footer{height:auto!important}
/*Main Fix Btn*/
.mainFixBtn.fixBtn.removeFix{bottom:438px;position:fixed}
/*--Main Pc--*/
/*Main Banner*/
.mainPc .mainBanner{transform: translateY(0)}
.mainPc .mainBanner .slideWrap{height:100%;position:relative}
.mainPc .mainBanner .swiper-slide{background-repeat:no-repeat;background-size:cover;background-position:center;height:100%}
.mainPc .mainBanner .swiper-slide ul{display:flex;flex-direction:column;align-items:center;justify-content:center;height:100%;position:absolute;width:100%}
.mainPc .mainBanner .swiper-slide li.text{font-size:62px;font-weight:500;color:#fff;text-align:center;line-height:75px}
.mainPc .mainBanner .swiper-slide li.text img{height:56px;margin-top:-12px;margin-left:15px}
.mainPc .mainBanner .swiper-slide li.link a{font-size:18px;font-weight:500;color:#fff;display:flex;flex-direction:row;align-items:center;margin-top:60px}
.mainPc .mainBanner .swiper-slide li.link a i{width:50px;height:50px;border-radius:100%;background:#5143d4;text-align:center;display:flex;align-items:center;justify-content:center;margin-left:22px}
.mainPc .mainBanner .paging{position:absolute;z-index:1;top:33%;height:14px;text-align:center;color:#fff}
.mainPc .mainBanner .arrowCtrl a{position:absolute;z-index:1;top:50%;transform:translateY(-50%)}
.mainPc .mainBanner .paging span{font-size:16px;font-weight:bold}
.mainPc .mainBanner .arrowCtrl a.prev{left:48px}
.mainPc .mainBanner .arrowCtrl a.next{right:48px}
.mainPc .mainBanner .motionCtrl{position:absolute;top:33%;z-index:1;display:flex;align-items:center;justify-content:center;width:100%;padding-left:70px}
.mainPc .mainBanner .motionCtrl a{color:#fff}
.mainPc .mainBanner .motionCtrl a.play{display:none}
.mainPc .mainBanner .scroll{position:absolute;bottom:36px;z-index:1;display:flex;flex-direction:column;align-items: center;width:100%}
.mainPc .mainBanner .scroll i{position:relative;height:36px;width:1px;background:rgba(255, 255, 255, 0.5);margin-bottom:10px}
.mainPc .mainBanner .scroll i::after{content:'';position:absolute;width:100%;height:40%;background:#fff;animation: scrollMotion 0.5s linear 0s infinite alternate}
.mainPc .mainBanner .scroll span{color:#fff;font-size:16px}
@keyframes scrollMotion {
	0% {height:40%}
	100% {height:100%}
}
/*Brand*/
.mainPc .brand{position:relative}
.mainPc .brand .phoneWrap{position:relative;width:100%;height:100%;display:flex;align-items:center;justify-content:center}
.mainPc .brand .phoneWrap ul{position:absolute;width:440px;height:calc(100% - 26.1%);border-radius:50px;overflow:hidden;border:16px solid #f9f9f9;box-shadow:0 0 27px rgba(0,0,0,0.3);z-index:5}
.mainPc .brand .phoneWrap .logo{background:#5143d4;width:100%;height:100%;display:flex;align-items:center;justify-content:center}
.mainPc .brand .phoneWrap .img{position:absolute;width:100%;height:100%;bottom:-100%;left:0;transition:all 0.5s;-webkit-transition:all 0.5s}
.mainPc .brand .phoneWrap .img.on{bottom:0}
.mainPc .brand .phoneWrap .img img{transition:all 0.5s;-webkit-transition:all 0.5s}
.mainPc .brand .info .left{position:absolute;top:0;left:-100%;width:50%;height:100%;background-repeat:no-repeat;background-size:cover;background-position:center;transition:all 0.5s;-webkit-transition:all 0.5s}
.mainPc .brand .info .left.on{left:0%}
.mainPc .brand .info .right{position:absolute;top:0;right:0;width:50%;height:100%;display:flex;flex-direction:column;justify-content:center}
.mainPc .brand .info .textPos{padding-left:35.5%}
.mainPc .brand .info .textPos li{opacity:0;}
.mainPc .brand .info .textPos{margin-top:-60px}
.mainPc .brand .intro .blank{position:absolute;width:100%;height:100%}
.mainPc .brand .intro .blank1{z-index:4}
.mainPc .brand .intro .blank2{z-index:3}
.mainPc .brand .intro .blank3{z-index:2}
.mainPc .brand .blank div{position:absolute;width:100%;height:100%;top:0;left:0}
.mainPc .brand .textPos li.txt1{font-size:62px;line-height:74px;margin-top:30px}
.mainPc .brand .textPos li.txt1 img{height:45px;vertical-align:revert;margin-left:26px}
.mainPc .brand .textPos li.txt2{font-size:18px;color:#505050;margin-top:28px;line-height:24px;transform:translateY(30px);transition:all 0.5s;-webkit-transition:all 0.5s}
.mainPc .brand .textPos li.txt2.on{transform: translateY(0);opacity:1}
.mainPc .brand .textPos li a{font-size:18px;font-weight:500;margin-top:60px;display:flex;flex-direction:row;align-items:center;position:absolute;z-index:4}
.mainPc .brand .textPos li a i{width:50px;height:50px;border-radius:100%;background:#5143d4;text-align:center;display:flex;align-items:center;justify-content:center;margin-left:22px}
.mainPc .brand .proce{position:absolute;left:0;bottom:-100%;width:100%;display:flex;align-items:center;z-index:4;background:#fff;padding-left:48px;transition:all 0.5s;-webkit-transition:all 0.5s}
.mainPc .brand .proce.on{bottom:0}
.mainPc .brand .proce .blank1{z-index:2}
.mainPc .brand .proce .blank2{z-index:1}
.mainPc .brand .proce .textPos{width:50%}
.mainPc .brand .proce .textPos li{opacity:0}
.mainPc .brand .proce .textPos li.txt1 img{vertical-align:baseline}
.mainPc .brand .proce .hiddenArrow{position:absolute;width:100%;height:100%;left:0;top:0}
.mainPc .brand .proce .hiddenArrow a{display:inline-block;text-indent:-9999px}
.mainPc .brand .proce .slideWrap{width:0%;height:520px;overflow:hidden;padding-left:10.7%;transition:all 0.5s;-webkit-transition:all 0.5s}
.mainPc .brand .proce .slideWrap.on{width:50%}
.mainPc .brand .proce .swiper-wrapper{z-index:4}
.mainPc .brand .proce .swiper-slide{opacity:0;border:1px solid #e0e0e0;border-radius:34px;padding:80px 8.2%;position:relative;width:59.9%!important;transition:all 0.5s;-webkit-transition:all 0.5s}
.mainPc .brand .proce .swiper-slide-next{left:-68%}
.mainPc .brand .proce .swiper-slide.first{opacity:1}
.mainPc .brand .proce .swiper-slide.endActive{left:0;opacity:1}
.mainPc .brand .proce .swiper-slide.swiper-slide-next{opacity:1}
.mainPc .brand .proce .swiper-slide.swiper-slide-prev{opacity:0}
.mainPc .brand .proce .swiper-slide div{opacity:0}
.mainPc .brand .proce .swiper-slide div h6{font-size:42px;font-weight:500;line-height:46px}
.mainPc .brand .proce .swiper-slide div span{font-size:18px;margin-top:27px;display:block;line-height:24px}
.mainPc .brand .proce .swiper-slide a{position:absolute;bottom:80px;right:60px;opacity:0}
.mainPc .brand .proce .swiper-slide-active{background:#5143d4;color:#fff;z-index:1}
.mainPc .brand .proce .swiper-slide-active a img{filter: brightness(0) invert(1)}
/*Service*/
.mainPc .service{background:url(../images/service_bg.jpg) no-repeat center;background-size:cover;background-position:center;width:100%;padding:0 40px;display:flex;align-items:center;justify-content:center;width:0!important;margin:auto;opacity:0;transition:all 0.5s;-webkit-transition:all 0.5s}
.mainPc .service.show{width:100%!important;opacity:1;}
.mainPc .service.on{background-image:url(../images/service_bg_on.jpg);transition:all 0.5s;-webkit-transition:all 0.5s} 
.mainPc .service.on2{background-image:url(../images/service_bg02.png);transition:all 0.5s;-webkit-transition:all 0.5s} 
.mainPc .service.on3{background-image:url(../images/service_bg03.png);transition:all 0.5s;-webkit-transition:all 0.5s} 
.mainPc .service.on4{background-image:url(../images/service_bg04.png);transition:all 0.5s;-webkit-transition:all 0.5s} 
.mainPc .service article{max-width:1528px;width:100%;margin:auto;position:relative}
.mainPc .service ul{text-align:center;display:flex;display: flex;justify-content: center;align-items: center;flex-direction: row;position:absolute;width:100%;bottom:-100%;transition:all 0.5s;-webkit-transition:all 0.5s}
.mainPc .service ul.on{bottom:50%;transform:translateY(50%)}
.mainPc .service li h3{font-size:62px;font-weight:bold;font-family:'Louis George Café';color:#fff;margin-bottom:18px}
.mainPc .service li span{font-size:18px;color:#fff;line-height:24px}
.mainPc .service li .txtPos{position:absolute;top:50%;transform:translateY(-50%);width:100%}
.mainPc .service li{position:relative;height:162px;width:33.3%}
.mainPc .service li a{opacity: 0; display: inline-block;top: 55%;width:50px;height:50px;position:relative;background:url(../images/common/icon_arrow_bg.svg) no-repeat center center}
.mainPc .service li a img{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%)}
.mainPc .service li::before{content:'';position:absolute;top:50%;transform:translateY(-50%);right:0;height:100px;width:1px;background:#fff;opacity:30%}
.mainPc .service li.on::after{display:none;content:'';position:fixed;left:0;top:0;width:100%;height:100%}
.mainPc .service li .fakeWrap{display:inline-block;width:100%;height:100%}
.mainPc .service .service4::before{display:none}
/*Service isFocus*/
.mainPc .service li.isFocus{opacity:100%}
.mainPc .service li.isFocus .txtPos{top:0;transform:translateY(0);transition:all 0.3s;-webkit-transition:all 0.3s} 
.mainPc .service li.isFocus a{z-index:1;opacity: 100%; top:90%;transition:all 0.3s;-webkit-transition:all 0.3s}
.mainPc .service li.isFocusOut{opacity:20%;transition:all 0.3s;-webkit-transition:all 0.3s}
.mainPc .service li.isFocusOut a{top:70%;transition:all 0.3s;-webkit-transition:all 0.3s}
.mainPc .service li.isFocusOut .txtPos{top:50%;transform:translateY(-50%);transition:all 0.3s;-webkit-transition:all 0.3s}
/*매거진*/
.mainPc .magazine article{position:relative;display:flex;align-items:center;justify-content:center}
.mainPc .magazine .blank div{position:absolute;width:100%;height:100%;top:0;left:0}
.mainPc .magazine .blank1{z-index:3} 
.mainPc .magazine .blank2{z-index:2} 
.mainPc .magazine .blank3{z-index:1} 
.mainPc .magazine .textPos{position:absolute;left:6.5%;width:692px;transition:all 0.5s;-webkit-transition:all 0.5s;z-index:3}
.mainPc .magazine .textPos.on{left:-100%}
.mainPc .magazine .textPos h3{font-size:62px;font-weight:500;line-height:74px;margin-top:40px;opacity:0;transition:all 0.7s;-webkit-transition:all 0.7s;transform:translateY(30px)}
.mainPc .magazine .textPos h3.on{opacity:1;transform:translateY(0)}
.mainPc .magazine .textPos span{color:#505050;font-size:18px;line-height:24px;display:block;}
.mainPc .magazine .textPos div{margin-top:28px;opacity:0;transition:all 0.7s;-webkit-transition:all 0.7s;transform:translateY(30px)}
.mainPc .magazine .textPos div.on{opacity:1;transform:translateY(0)}
.mainPc .magazine .textPos a{display:flex;flex-direction:row;align-items:center;margin-top:60px;font-size:18px;font-weight:500}
.mainPc .magazine .textPos i{margin-left:22px;width:50px;height:50px;border-radius:100%;background:#5143d4;text-align:center;display:flex;align-items:center;justify-content:center;}
.mainPc .magazine .slideWrap{position:absolute;width:100%;right:-100%;transition:all 0.5s;-webkit-transition:all 0.5s;display:flex;flex-direction:row;align-items:center;height:100%;top:0}
.mainPc .magazine .slideWrap.active{right:-38%}
.mainPc .magazine .slideWrap.on{right:17%}
.mainPc .magazine .slideWrap.endActive{right:82%}
.mainPc .magazine .slide{width:27.1%;height:680px;border:1px solid #e0e0e0;border-radius:45px;overflow:hidden;margin-right:2.05%;text-align:center;}
.mainPc .magazine .slide .thumb{height:520px;background-repeat:no-repeat;background-size:cover;background-position:center bottom;width:100%;}
.mainPc .magazine .slide .keyword{border-top:1px solid #e0e0e0;font-family:'Louis George Café';font-weight:bold;padding-top:36px;color:#5143d4;font-size:24px}
.mainPc .magazine .slide .text{margin-top:10px;font-size:24px;font-weight:500;line-height:30px}
.mainPc .magazine .goMagazine{text-align:center;z-index:3;position:absolute;right:-50%;border:none;display:flex;flex-direction:column;align-items:center;justify-content:center;height:auto}
.mainPc .magazine .goMagazine h3{font-size:62px;margin-bottom:48px}
.mainPc .magazine .goMagazine h3 img{height:45px;vertical-align:revert;margin-right:25px}
.mainPc .magazine .goMagazine a{font-size:18px;font-weight:500;display:flex;align-items:center;justify-content:center}
.mainPc .magazine .goMagazine a i{width:50px;height:50px;border-radius:100%;background:#5143d4;text-align:center;display:flex;align-items:center;justify-content:center;margin-left:22px}
/*앱 다운로드*/
.mainPc .appDownload{position:relative;height:100vh}
.mainPc .appDownload article{display:flex;align-items:center;justify-content:space-between;padding:0 48px;position:absolute;bottom:-100%;width:100%;background:url(../images/main/app_download_bg.jpg)no-repeat center;background-size:cover;transition:all 0.7s;-webkit-transition:all 0.7s}
.mainPc .appDownload article.on{bottom:0}
.mainPc .appDownload article h3{font-size:62px;color:#fff;font-weight:500;line-height:74px}
.mainPc .appDownload article h3 img{height:55px;margin-top:-7px}
.mainPc .appDownload article > h3{margin-left:80px;margin-top:60px;opacity:0;transition:all 0.7s;-webkit-transition:all 0.7s}
.mainPc .appDownload article > h3.on{margin-top:0;opacity:1}
.mainPc .appDownload article > h3 i{margin:0 14px 0 23px}
.mainPc .appDownload article div{margin-right:136px;margin-top:60px;opacity:0;transition:all 0.7s;-webkit-transition:all 0.7s}
.mainPc .appDownload article div.on{margin-top:0;opacity:1}
.mainPc .appDownload article ul{display:flex;flex-direction:row;align-items:center;margin-top:22px}
.mainPc .appDownload article .qrCode{width:140px;line-height:140px;background:#fff;text-align:center;border-radius:22px;margin-right:36px}
.mainPc .appDownload article .appStore{display:flex;flex-direction:column;justify-content:space-between;height:140px}
.mainPc .appDownload article .appStore a{display:flex;width:194px;height:60px;border-radius:60px;align-items:center;justify-content:center;background:#101010;color:#fff;font-size:16px}
.mainPc .appDownload article .appStore a img{margin-right:10px}
.mainPc .appDownload article .appStore a:first-child img{filter:brightness(0) invert(1)}
/*뉴스레터*/
.mainPc .newsLetter{height:auto!important}
.mainPc .newsLetter article{display:flex;align-items:center;justify-content:center;flex-direction:column;height:auto!important;padding:180px 0}
.mainPc .newsLetter article h3{font-size:62px;display:flex;flex-direction:row;align-items:baseline}
.mainPc .newsLetter article h3 img{filter:brightness(0.93) invert(1);height:44px;margin-right:26px}
.mainPc .newsLetter article span{color:#505050;font-size:18px;margin-top:28px}
.mainPc .newsLetter article form{margin-top:60px;position:relative}
.mainPc .newsLetter article form fieldset{width:584px;display:flex;flex-direction:row;justify-content:space-between}
.mainPc .newsLetter article fieldset input{width:calc(100% - 66px);width:-webkit-calc(100% - 66px);border:2px solid #e0e0e0;border-radius:2px 0 0 2px;padding:0 18px;font-size:18px}
.mainPc .newsLetter article fieldset input::placeholder{color:#767676}
.mainPc .newsLetter article fieldset button{width:66px;height:66px;background:#101010 url(../images/main/icon_letter.png)no-repeat center;color:transparent;border:none}
.mainPc .newsLetter article form ul{padding:0 20px;margin-top:28px;display:flex;flex-direction:row;align-items:center;justify-content:space-between;}
.mainPc .newsLetter article form li{display:flex;flex-direction:row;align-items:center}
.mainPc .newsLetter .checkBox{position:relative;height:20px;margin-bottom:10px;}
.mainPc .newsLetter .checkBox a{position: absolute; top: -6px; left: 45%;}
.mainPc .newsLetter .checkBox label{padding-left:19px}
.mainPc .newsLetter .checkBox input[type="checkbox"]{position:absolute;left:0;top:0;opacity:0}
.mainPc .newsLetter .checkBox i{width:20px;height:20px;border:2px solid #767676;position:absolute;left:0;top:0;border-radius:2px}
.mainPc .newsLetter .checkBox label{padding-left:30px;padding-right:28px;position:relative;display:inline-block;line-height:20px;cursor:pointer}
.mainPc .newsLetter .checkBox label:before{display:none;content:'';color:#ccc;position:absolute;left:7px;top:3px;width:5px;height:9px;border-right:1px solid #e0e0e0;border-bottom:1px solid #e0e0e0;transform:rotate(45deg);-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg)}
.mainPc .newsLetter .checkBox input[type="checkbox"]:checked + i + label:before{display:block;border-color:#767676}
.mainPc .newsLetter .checkBox input[type="checkbox"]:checked + i{border-radius:3px;background:#5143d4;border:none}
.mainPc .newsLetter .checkBox input[type="checkbox"]:checked + i + label:before{border-color:#fff}
.mainPc .newsLetter .checkBox input[type="checkbox"]:checked+i+label{background:url(../images/main/news_letter_arrow.png)no-repeat right center}
.mainPc .newsLetter .blank{position:fixed;left:0;top:0;width:100%;height:100%;display:none}

